@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/subset-MontserratAlternates-Black.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/subset-MontserratAlternates-BlackItalic.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/subset-MontserratAlternates-Bold.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/subset-MontserratAlternates-Light.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/subset-MontserratAlternates-ExtraBold.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates ExLight";
  src: url("../fonts/subset-MontserratAlternates-ExtraLight.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/subset-MontserratAlternates-Medium.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/subset-MontserratAlternates-SemiBold.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/subset-MontserratAlternates-Thin.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Light.woff2") format("woff2"), url("../fonts/subset-Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/subset-MontserratAlternates-Regular.woff2") format("woff2"), url("../fonts/subset-MontserratAlternates-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Black.woff2") format("woff2"), url("../fonts/subset-Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/subset-Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/subset-Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Bold.woff2") format("woff2"), url("../fonts/subset-Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/subset-Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/subset-Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Thin.woff2") format("woff2"), url("../fonts/subset-Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("../fonts/subset-Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Medium.woff2") format("woff2"), url("../fonts/subset-Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=fonts.css.map */