.main-wraper {
  position: relative;
  padding: 25px 0 248px;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/headrer-bg.jpg);
  width: 100%;
}
.main-wraper header {
  margin-bottom: 155px;
}
.main-wraper .text-wraper .main-title {
  margin-bottom: 60px;
}
.main-wraper .text-wraper .main-title .wt-bg {
  font-family: "Montserat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  color: #fff;
}
.main-wraper .text-wraper .main-title .stroked-title {
  position: relative;
  font-family: "Montserat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 117px;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.main-wraper .text-wraper .main-title .stroked-title:after {
  position: absolute;
  content: "";
  top: -19%;
  right: 13%;
  height: 65px;
  width: 150px;
  background-image: url(../img/together-yellow.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-wraper .social-wraper li {
  padding: 4px 0;
  transition: 0.4s;
}
.main-wraper .social-wraper li:hover {
  transform: scale(1.1);
}
.main-wraper .video-slider {
  position: absolute;
  right: -630px;
  bottom: -15%;
}
.main-wraper .video-slider .video-wraper {
  position: relative;
  height: 227px;
  width: 360px;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}
.main-wraper .video-slider .video-wraper:hover {
  transform: scale(1.05);
}
.main-wraper .video-slider .video-wraper:hover::before {
  opacity: 1;
}
.main-wraper .video-slider .video-wraper:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 74px;
  width: 74px;
  transform: translate(-50%, -50%);
  background: url(../img/play-btn.svg);
  background-position: center center;
  background-size: contain;
  opacity: 0;
  z-index: 5;
  transition: 0.4s;
}
.main-wraper .video-slider .video-wraper:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.main-wraper .video-slider .video-wraper:first-child:before {
  opacity: 1;
}
.main-wraper .video-slider .video-wraper video {
  height: 100%;
  width: 100%;
}

.popular {
  padding: 263px 0 150px;
}
.popular .popular-head {
  margin-bottom: 90px;
}
.popular .rel-container {
  position: relative;
}
.popular .popular-slider {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
.popular .popular-slider .slide {
  position: relative;
  border-radius: 10px;
  padding: 211px 16px 42px;
  min-width: 360px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  margin: 0 10px;
  z-index: 0;
  transition: 0.4s;
}
.popular .popular-slider .slide:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  transition: 0.4s;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.popular .popular-slider .slide:hover {
  transform: scale(1.05);
}
.popular .popular-slider .slide:hover::after {
  opacity: 0.5;
}
.popular .popular-slider .slide .tour-type {
  font-family: "Montserat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin-bottom: 2px;
}
.popular .popular-slider .slide .tour-title {
  font-family: "Montserat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffc700;
  margin-bottom: 10px;
}
.popular .popular-slider .slide .data-wraper .duration,
.popular .popular-slider .slide .data-wraper .coast {
  font-family: "Montserat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin-bottom: 20px;
}
.popular .popular-slider .slide .tour-desc {
  font-family: "Montserat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin-bottom: 35px;
}/*# sourceMappingURL=index.css.map */