// fonts
$montserat: "Montserat", sans-serif;

// colors
$white: #fff;
$yellow: #ffc700;
$blue: #0499dd;
$black: #282828;
// gradients
$blueGradient: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
$videoGradient: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
